nav {
	background: #93A26D;
	padding: 5px;
}

nav a {
	color: yellow;
	text-decoration: none;
}

.portal-name {
	font-weight: bold;
}

nav button {
	color: white;
	background-color: #93A26D;
	border-radius: 4px;
	border-color: white;
}